<header>
    <nav class="navbar navbar-expand-lg pt-3">
        <div class="container">
            <button (click)="toggleCollapse()" class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-dark"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='' routerLinkActive="active">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/addons' routerLinkActive="active">addons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/projects' routerLinkActive="active">projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/blogs' (click)="onNavigate()">stats</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link"routerLink='/blogs' (click)="onNavigate()">blog</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
