.navbar {
    background: none;
}

li a {
    font-family: "Poppins";
    font-size: 1.1rem;
    font-weight: normal;
    color: white;
}

    li a:hover {
        color: rgb(128, 128, 128);
        transition: 0.4s all;
    }
