@page "/addons"
@using Portfolio.Models.Api;
@using Portfolio.Services;

<div class="text-center">
  <h1 class="animate__animated animate__fadeIn">My Addons</h1>
</div>

@if(Addon == null)
{
    <div class="d-flex justify-content-center text-white mt-5">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

}
else
{

<div class="addon-area">
  <div class="container">
    <div class="row">

        @foreach (var addon in Addon)
        {
             @if (!addon.Active) continue;

            <div class="col-sm-4 mb-2 animate__animated animate__fadeInDown">
                <div class="card">
                    <div class="img1"><img src="@addon!.Images!.BigSpot" alt="image"></div>
                    <div class="main-text">
                        <div class="info">
                            <a class="btn btn-primary" href="@addon.Route" target="_blank">Learn More</a>
                            <div class="row">
                                <div class="col-12 text-bubble mt-1">
                                    <p>created @addon.CreatedAt -/5 stars</p>
                                </div>
                            </div>
                        </div>
                        <h2>@addon.Name</h2>
                        <p>@addon.ShortDescription</p>
                    </div>
                </div>
            </div>
        }
    </div>
  </div>
</div>
}

@code {
    [Inject]
    public IApiService ApiService { get; set; }
    public List<Addon> Addon { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Addon = await ApiService.GetAddons();
    }
}
