img.circle {
    width: 128px;
    height: 128px;
    overflow: hidden;
    border-radius: 50%;
    transition: ease-in-out 0.3s;
}


    img.circle:hover {
        width: 135px;
        height: 135px;
        transition: ease-in-out 0.3s;
    }

a i.logo {
    color: #4E5D94;
    transition: 0.5s all;
}

a i:hover {
    color: white;
    transition: 0.5s all;
}

h1 {
    font-family: "Poppins";
    font-size: bold;
    color: white;
}

h2 {
    font-family: "Poppins";
    color: white;
    font-size: normal;
}

.card {
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.09);
    color: rgba(200, 200, 200);
    background: rgba(30, 30, 30, 0.5);
    transition: 0.5s all;
    cursor: default;
    text-align: center;
}

    .card:hover {
        background: #4E5D94;
        transition: 0.5s all;
        color: whitesmoke;
    }

    .card p {
        font-family: 'Poppins';
        font-weight: normal;
    }

        .card p:hover {
            color: whitesmoke;
            transition: 0.5s all;
        }
