
.box {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    padding: 0 0 0 0;
    color: rgb(32, 32, 32);
    background-color: rgb(32, 32, 32);
    height: auto;
    border-radius: 5px;
    border-color: rgb(25, 25, 25);
    transition: 0.3s all;
    overflow: hidden;
    min-height: 230px;
    max-height: 230px;
}

    .box:hover {
        background-color: rgb(23, 23, 23);
        transition: 0.3s all;
    }

@media (max-width: 1080px) {
    .box img {
        display: none;
    }

    .box {
        overflow: scroll;
        max-height: 300px;
    }
}

.box img {
    float: left;
    max-width: 384px;
    min-width: 384px;
    max-height: 230px;
    margin-right: 5px;
    padding: 0;
    mask-image: linear-gradient(to left, transparent 0%, black 20%);
    -webkit-mask-image: linear-gradient(to left, transparent 0%, rgb(50, 50, 50) 15%);
    border-radius: 5px;
}



    .box img.brightness {
        filter: brightness(2);
    }

.box h1 {
    padding-top: 2px;
    font-size: 32px;
    font-family: "Poppins";
    font-weight: bolder;
}

.box p {
    color: rgb(150, 150, 150);
    font-family: sans-serif;
    cursor: default;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.multi_lines_text {
    white-space: pre-line;
}

.title {
    margin-bottom: 2px;
    cursor: default;
}

.badge-hover:hover {
    opacity: 0.7;
    transition: 0.3s all;
    cursor: default;
}
